<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Classification</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .emoji {
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Text Classification Model</h1>
        <div class="card mt-3">
            <div class="card-body">
                <form action="/predict" method="post">
                    <div class="form-group">
                        <label for="inputText">Enter Text:</label>
                        <input type="text" class="form-control" id="inputText" name="input_text" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Predict</button>
                </form>
                {% if prediction %}
                <div class="mt-3">
                    <h3>Prediction: {{ prediction }} 
                        {% if prediction == 'joy' %}
                            <span class="emoji">😊</span>
                        {% elif prediction == 'sad' %}
                            <span class="emoji">😢</span>
                        {% elif prediction == 'anger' %}
                            <span class="emoji">😠</span>
                        {% endif %}
                    </h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
